<a href="https://colab.research.google.com/github/Arif-Badhon/ColabGoogle/blob/master/AllAboutFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook explains all about Functions

Simple Function in Python

In [1]:
def hello():
  ''' This function says hello and greets you
  some more '''

  print('Hello')
  print('Glad to meet you')

Now call the Function

In [2]:
hello()

Hello
Glad to meet you

Now if we want to input something when calling function

In [5]:
def hello2(s):
  ''' This function says hello and greets you
  some more '''

  print('Hello ' + s)
  print('Glad to meet you')

Now call the Function

In [6]:
hello2('Badhon')

Hello Badhon
Glad to meet you

In [12]:
def hello3(s,n):
  greeting = "Hello {} ".format(s)
  print(greeting*n)

In [13]:
hello3('Badhon',4)

Hello Badhon Hello Badhon Hello Badhon Hello Badhon

Returning a value. Lets write a code that takes a value and square it give the result.

In [16]:
def square(x):
  y = x*x
  return y

toSquare = int(input("Please a enter value: "))
result = square(toSquare)
print(result)

Please a enter value: 403
162409

Lets write a code that find the sum of the series of numbers

In [17]:
def sumTo(n):
  theSum = 0
  aNumber = 1
  while aNumber <= n:
    theSum = theSum+aNumber
    aNumber = aNumber+1
  return theSum
print(sumTo(int(input())))

123
7626

Write a function that reverse the string taken from input

In [20]:
def revString(n):
  y = ''.join(reversed(n)) #without .join it will return only object
  return y

t = revString("I Love You")
print(t)

uoY evoL I

Lets find out the factorial of a number

In [21]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)

print(factorial(int(input("Enter a number that you want to know factorial: "))))

Enter a number that you want to know factorial: 4
24

Write a code that checks if a number is in given range

In [26]:
def inRange(n):
  if n in range(10):
      print( " %s is in the range"%str(n)) 
  else:
    print("The number is outside the given range.")

result = inRange(int(input("Enter a value: ")))

Enter a value: 3
 3 is in the range

Find the number of Upper case and Lower case letter in the sentence

In [28]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test(str(input('Enter your sentence: ')))

Enter your sentence: Hello Badhon, how are you?
Original String :  Hello Badhon, how are you?
No. of Upper case characters :  2
No. of Lower case Characters :  18

Write a code that finds unique value from a list

In [29]:
def unique(l):
  x = []
  for c in l:
    if c not in x:
      x.append(c)
  return x

print(unique([1,2,3,4,4,5,5,6,7,7,8,8,9,10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Write a code that finds the even number from a list

In [31]:
def even(l):
  x = []
  for c in l:
    if c%2 == 0:
      x.append(c)
  return x

print(even([int(i) for i in input().split()]))

12 11 3 4 22 90 9 88 87 65 45
[12, 4, 22, 90, 88]

Write a code that takes a word or sentence and find out if it is a palindrome or not

In [36]:
def palindrome(n):
  if n == ''.join(reversed(n)):
    print("This is Palindrome")
  else:
    print("This is not a Palindrome")

palindrome(str(input()))

madam
This is Palindrome