<a href="https://colab.research.google.com/github/Arif-Badhon/ColabGoogle/blob/master/Lists_or_Tuples_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python lists or Tuples are very common and important parameter in code.  lets do that.

In [ ]:
myList = ["one", 2, "three"]
myTuple = ("one", 2, "three")

Now lets see the class of these two variable

In [ ]:
print(type(myList))
print(type(myTuple))

<class 'list'>
<class 'tuple'>

So, the difference between List and Tuple is first bracket and third bracket. Tuple can have different data types. Lets add something in tuple

In [ ]:
myTuple = ("Badhon", 3, 4.5)
myTuple = myTuple + ("Hello",)
print(myTuple)

('Badhon', 3, 4.5, 'Hello')

So we can see you can not append in tuple. You need to concatenate the item with the tuple. Also make the item tuple by putting a comma at the last of it. Lets see another example.

In [ ]:
print(myTuple)
myTuple = myTuple + ("Twinkle", 56, "23", 12.33,)
print(myTuple)

('Badhon', 3, 4.5, 'Hello')
('Badhon', 3, 4.5, 'Hello', 'Twinkle', 56, '23', 12.33)

Lets print the variable of the tuple one by one.

In [ ]:
for i in myTuple:
  print(i)

Badhon
3
4.5
Hello
Twinkle
56
23
12.33

Lets convert our Tuple to Strings

In [ ]:
myTuple2 = str(myTuple)
print(myTuple2)
print(type(myTuple2))

('Badhon', 3, 4.5, 'Hello', 'Twinkle', 56, '23', 12.33)
<class 'str'>

Write a Python program to create the colon of a tuple.

In [ ]:
from copy import deepcopy
#create a tuple
tuplex = ("HELLO", 5, [], True) 
print(tuplex)
#make a copy of a tuple using deepcopy() function
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append(50)
print(tuplex_colon)
print(tuplex)

('HELLO', 5, [], True)
('HELLO', 5, [50], True)
('HELLO', 5, [], True)

Find if there is repeted items in the tuple

In [49]:
myTuple = ("Badhon", 3, 23.445, "55", "Badhon",)

In [50]:
print(myTuple)
print(type(myTuple))

('Badhon', 3, 23.445, '55', 'Badhon')
<class 'tuple'>

In [51]:
from collections import Counter
Counter(myTuple)

Counter({23.445: 1, 3: 1, '55': 1, 'Badhon': 2})

In [52]:
for i in myTuple:
  if myTuple.count(i) > 1:
    print("There is Duplicate..!!")

There is Duplicate..!!
There is Duplicate..!!

Find if an item exists in a Tuple

In [53]:
print("Badhon" in myTuple)

True

Convert a List to a Tuple

In [54]:
List1 = ["Badhon", 12, 3.44, "Hello"]
print(type(List1))

<class 'list'>

In [55]:
TupleList1 = tuple(List1)
print(type(TupleList1))

<class 'tuple'>

Delete a item from Tuple.
You have to convert it to a list first.

In [59]:
Listlist1 = list(TupleList1)
Listlist1.remove(12)
print(Listlist1)

['Badhon', 3.44, 'Hello']

Find the length of a tuple

In [60]:
print(len(TupleList1))

4

Now convert Tuple to a Dictonary

In [61]:
Tuple1 = ((2,"w"), ("Badhon", 100), (12, 34.55))
print(dict((y, x) for x, y in Tuple1))

{'w': 2, 100: 'Badhon', 34.55: 12}

Now reverse a Tuple.

In [64]:
myTuple = ("one", 23.44, "Badhon", 2,)
myTupleRevesed = reversed(myTuple)
print(tuple(myTupleRevesed))

(2, 'Badhon', 23.44, 'one')