<a href="https://colab.research.google.com/github/Arif-Badhon/ColabGoogle/blob/master/NestedData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nested Data means data inside of data. This notebook will describe the nested data situation in python

In [ ]:
nested1 = [['a', 'b', 'c'], ['d', 'e'], ['f','g','h']]
print(nested1[0])
print(len(nested1))

['a', 'b', 'c']
3

In [ ]:
nested1.append(['i'])
for l in nested1:
  print(l)

['a', 'b', 'c']
['d', 'e']
['f', 'g', 'h']
['i']

Sorting in nested data

In [ ]:
L1 = [1,2,4,-2,-4,5,12.3]
L2 = ["cherry", "Badhon", "apple", 12.5, 13]

In [ ]:
L1.sort()

In [ ]:
print(L1) # sorting arrange the data from low to high. not possible in strings

[-4, -2, 1, 2, 4, 5, 12.3]

Sort reverse

In [ ]:
L2 = ["cherry", "Badhon", "Apple", "Blueberry"]
print(sorted(L2, reverse=True))

['cherry', 'Blueberry', 'Badhon', 'Apple']

Using indexing retreive the srting "willow" from the list and assign that to the variable plant

In [ ]:
data = ['bagel', 'creamcheese', 'breakfast', 'grits', 'leggs', 'bacon', [34,9,73,[]], [['willow', 'birch', 'elm'], 'apple', 'peach', 'cherry']]

In [ ]:
plant = data[7][0][0]
print(plant)

willow

Nested Dictonaries

Extract the value associated with the key color and assign it to the variable color

In [ ]:
info = {'personal_data':
        {'name': 'lauren',
         'age':20,
         'major': 'Information Science',
         'physical_features':
         {'color': {'eye': 'blue', 'hair': 'brown'},
          'height': '5.8'}
         },
          'other':
             {'favourite colors':['purple', 'green', 'blue'],
              'interested_in':['social_media', 'intellectual_property'],}
        }

In [ ]:
color = info ['personal_data']['physical_features']['color']
print(color)

{'eye': 'blue', 'hair': 'brown'}

Nested iteration

In [ ]:
sammy_shark = {'name': 'Sammy', 'animal': 'shark', 'color': 'blue', 'location': 'ocean'}

for key in sammy_shark:
   print(key + ': ' + sammy_shark[key])

name: Sammy
animal: shark
color: blue
location: ocean